.footer {
    padding: 20px;
    text-align: center;
  }
  
  .made-by-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .social-links {
    margin-top: 0;
  }
  
  .social-link {
    font-size: 25px;
    margin: 0 10px;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
  
  .social-link:hover {
    transform: scale(1.2);
  }
  
  .social-link.strava {
    color: #f75e25; /* Orange color for Strava */
  }
  
  .social-icon {
    vertical-align: middle;
  }

  /* Assuming you have a CSS file named Footer.css */

.joke-disclaimer {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

.joke-disclaimer::before,
.joke-disclaimer::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: #777;
  vertical-align: middle;
  margin: 0 10px;
}


  